
html{
    background-color: #F3F4F6;
}
.content{
    font-family: 'Mulish', sans-serif;
    background-color: white;
   
}
header{
    border-bottom: 1px solid;
    padding-bottom: 50px;
}
.pic{
    height: 30px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 30px;
}
.txt{
    font-size: 25px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 80px;
    font-weight: 900;
}
.btn{
    position:absolute;
    top: 16px;
    left: 210px;
    font-size: 20px;
}
.button{
    color:#A5A9B2;
}
.button:hover{
    color: black;
    border-bottom: #6366F1 solid;
    padding-bottom:15px ;
}
a{
    text-decoration: none;
    margin-left: 30px;
}
img{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 29px;
    top: 13px;
    border-radius: 50%;
}
.search_bar{
    position: absolute;
    top:10px;
    right: 150px;
    border: solid 1px #A5A9B2 ;
    border-radius: 5px;
}
input{
    border: none;
    border-radius: 7px;
    height: 15px;
    width: 300px;
    padding: 10px 10px 10px 40px;
    font-size: 17px;
}
.search_glass{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 8px;
    right: 320px;
    color: #C6CAD1;
}
.bell{
    height: 24px;
    width: 28px;
    position: absolute;
    top: 3px;
    right: -63px;
    color: #C6CAD1;
}