body{
    background-color: rgb(24,44,75);
    color: hsl(0, 0%, 100%);
}
h2{
    color:hsl(0, 0%, 96%);
    font-family: 'Times New Roman', Times, serif;
    padding-left:100px ;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction:row;
}
.name{
    font-size: small;
}
p{
    margin-bottom: -1em;
}
.hsl{
    font-size: 0.7em;
    color: hsl(215, 19%, 62%);
    width: 120px;
    padding-bottom: 50px;
}
.box{
    border: 1px ;
    border-radius: 8px;
    padding-block: 2em;
    margin-right: 20px;
}
div{
    padding:  0.5em, 0.5em;
    margin: -0.3em -0.1em;
}
span{
    display: flex;
    margin: auto;
    padding: 1em;
}
section{
    display: flex;
    flex-direction: column;
    margin-left: -1em;
}
.color{
    padding-bottom : 4em;
    color: azure;
    width: 100px;
    display: flex;
}



/* Slate */

.slate-50{
    background-color: hsl(210, 40%, 98%);
}
.slate-100{
    background-color: hsl(210, 40%, 96%);
}
.slate-200{
    background-color:hsl(214, 30%, 91%) ;
}
.slate-300{
    background-color:hsl(213, 27%, 84%) ;
}
.slate-400{
    background-color:hsl(215, 20%, 65%) ;
}
.slate-500{
    background-color:hsl(215, 16%, 47%) ;
}
.slate-600{
    background-color:hsl(215, 19%, 35%) ;
}
.slate-700{
    background-color:hsl(215, 25%, 27%) ;
}
.slate-800{
    background-color:hsl(217, 33%, 17%) ;
}
.slate-900{
    background-color:hsl(222, 46%, 11%) ;
}

/* GRAY */


.gray-50{
    background-color: hsl(210, 20%, 98%);
}
.gray-100{
    background-color: hsl(220, 14%, 96%);
}
.gray-200{
    background-color:hsl(220, 13%, 91%) ;
}
.gray-300{
    background-color:hsl(216, 12%, 84%) ;
}
.gray-400{
    background-color:hsl(219, 11%, 65%) ;
}
.gray-500{
    background-color:hsl(220, 9%, 46%) ;
}
.gray-600{
    background-color:hsl(215, 14%, 34%) ;
}
.gray-700{
    background-color:hsl(217, 19%, 27%) ;
}
.gray-800{
    background-color:hsl(215, 28%, 17%) ;
}
.gray-900{
    background-color:hsl(198, 22%, 9%) ;
}

/* ZINC */


.zinc-50{
    background-color: hsl(0, 0%, 98%);
}
.zinc-100{
    background-color: hsl(240, 5%, 96%);
}
.zinc-200{
    background-color:hsl(240, 6%, 90%) ;
}
.zinc-300{
    background-color:hsl(240, 5%, 84%) ;
}
.zinc-400{
    background-color:hsl(240, 5%, 65%) ;
}
.zinc-500{
    background-color:hsl(240, 4%, 46%) ;
}
.zinc-600{
    background-color:hsl(240, 5%, 34%) ;
}
.zinc-700{
    background-color:hsl(240, 5%, 26%) ;
}
.zinc-800{
    background-color:hsl(240, 4%, 16%) ;
}
.zinc-900{
    background-color:hsl(240, 6%, 10%) ;
}

/* NEUTRAL */


.neutral-50{
    background-color: hsl(0, 0%, 98%);
}
.neutral-100{
    background-color: hsl(0, 0%, 96%);
}
.neutral-200{
    background-color:hsl(0, 0%, 90%) ;
}
.neutral-300{
    background-color:hsl(0, 0%, 83%) ;
}
.neutral-400{
    background-color:hsl(0, 0%, 64%) ;
}
.neutral-500{
    background-color:hsl(0, 0%, 45%) ;
}
.neutral-600{
    background-color:hsl(0, 0%, 32%) ;
}
.neutral-700{
    background-color:hsl(0, 0%, 25%) ;
}
.neutral-800{
    background-color:hsl(0, 0%, 15%) ;
}
.neutral-900{
    background-color:hsl(0, 0%, 9%) ;
}

/* STONE */


.stone-50{
    background-color: hsl(60, 9%, 98%);
}
.stone-100{
    background-color: hsl(60, 5%, 96%);
}
.stone-200{
    background-color:hsl(20, 6%, 90%) ;
}
.stone-300{
    background-color:hsl(24, 6%, 83%) ;
}
.stone-400{
    background-color:hsl(24, 5%, 64%) ;
}
.stone-500{
    background-color:hsl(25, 5%, 45%) ;
}
.stone-600{
    background-color:hsl(33, 5%, 32%) ;
}
.stone-700{
    background-color:hsl(30, 6%, 25%) ;
}
.stone-800{
    background-color:hsl(12, 6%, 15%) ;
}
.stone-900{
    background-color:hsl(24, 10%, 10%)
}

/* RED */


.red-50{
    background-color: hsl(0, 86%, 97%);
}
.red-100{
    background-color:hsl(0, 93%, 94%) ;
}
.red-200{
    background-color:hsl(0, 96%, 89%) ;
}
.red-300{
    background-color:hsl(0, 94%, 82%) ;
}
.red-400{
    background-color:hsl(0, 91%, 71%) ;
}
.red-500{
    background-color:hsl(0, 84%, 60%) ;
}
.red-600{
    background-color:hsl(0, 72%, 51%) ;
}
.red-700{
    background-color:hsl(0, 74%, 42%) ;
}
.red-800{
    background-color:hsl(0, 70%, 35%) ;
}
.red-900{
    background-color:hsl(0, 63%, 31%);
}

/*** ORANGE ***/


.orange-50{
    background-color: hsl(33, 100%, 96%);
}
.orange-100{
    background-color:hsl(34, 100%, 92%);
}
.orange-200{
    background-color:hsl(32, 98%, 83%);
}
.orange-300{
    background-color:hsl(31, 97%, 72%) ;
}
.orange-400{
    background-color:hsl(27, 96%, 61%) ;
}
.orange-500{
    background-color:hsl(25, 95%, 53%);
}
.orange-600{
    background-color:hsl(21, 90%, 48%);
}
.orange-700{
    background-color:hsl(17, 88%, 40%);
}
.orange-800{
    background-color:hsl(15, 79%, 34%) ;
}
.orange-900{
    background-color:hsl(15, 75%, 28%);
}

/*** AMBER ***/


.amber-50{
    background-color:hsl(48, 100%, 96%);
}
.amber-100{
    background-color: hsl(48, 96%, 89%);
}
.amber-200{
    background-color:hsl(48, 97%, 77%);
}
.amber-300{
    background-color:hsl(46, 97%, 65%);
}
.amber-400{
    background-color:hsl(43, 96%, 56%);
}
.amber-500{
    background-color:hsl(38, 92%, 50%);
}
.amber-600{
    background-color:hsl(32, 95%, 44%);
}
.amber-700{
    background-color:hsl(26, 90%, 37%);
}
.amber-800{
    background-color:hsl(23, 83%, 31%) ;
}
.amber-900{
    background-color:hsl(22, 78%, 26%);
}

/***Yellow***/

.yellow-50 {
    background-color: hsl(55, 92%, 95%);
}
.yellow-100 {
    background-color: hsl(55, 97%, 88%);
}
.yellow-200 {
    background-color: hsl(53, 98%, 77%);
}
.yellow-300 {
    background-color: hsl(50, 98%, 64%);
}
.yellow-400 {
    background-color: hsl(48, 96%, 53%);
}
.yellow-500 {
    background-color: hsl(45, 93%, 48%);
}
.yellow-600 {
    background-color: hsl(41, 96%, 40%);
}
.yellow-700 {
    background-color: hsl(35, 92%, 33%);
}
.yellow-800 {
    background-color: hsl(32, 81%, 29%);
}
.yellow-900 {
    background-color: hsl(28, 73%, 26%);
}


/* Lime */

.lime-50 {
    background-color:hsl(78, 92%, 95%);
}
.lime-100 {
    background-color:hsl(80, 89%, 89%) ;
}
.lime-200 {
    background-color:hsl(81, 88%, 80%) ;
}
.lime-300 {
    background-color:hsl(82, 85%, 67%);
}
.lime-400 {
    background-color:hsl(83, 78%, 55%);
}
.lime-500 {
    background-color:hsl(84, 81%, 44%);
}
.lime-600 {
    background-color:hsl(85, 85%, 35%);
}
.lime-700 {
    background-color:hsl(86, 78%, 27%) ;
}
.lime-800 {
    background-color:hsl(86, 69%, 23%);
}
.lime-900 {
    background-color:hsl(88, 61%, 20%);
}

/* Green */


.green-50 {
    background-color:hsl(138, 76%, 97%);
}
.green-100 {
    background-color:hsl(141, 84%, 93%);
}
.green-200 {
    background-color:hsl(141, 79%, 85%);
}
.green-300 {
    background-color:hsl(142, 77%, 73%);
}
.green-400 {
    background-color:hsl(142, 69%, 58%);
}
.green-500 {
    background-color:hsl(142, 71%, 45%);
}
.green-600 {
    background-color:hsl(142, 76%, 36%);
}
.green-700 {
    background-color:hsl(142, 72%, 29%);
}
.green-800 {
    background-color:hsl(143, 64%, 24%);
}
.green-900 {
    background-color:hsl(144, 61%, 20%);
}

/* Emerald */


.emerald-50 {
    background-color:hsl(152, 81%, 96%);
}
.emerald-100 {
    background-color:hsl(149, 80%, 90%);
}
.emerald-200 {
    background-color:hsl(152, 76%, 80%);
}
.emerald-300 {
    background-color:hsl(156, 72%, 67%);
}
.emerald-400 {
    background-color:hsl(158, 64%, 52%);
}
.emerald-500 {
    background-color:hsl(160, 84%, 39%);
}
.emerald-600 {
    background-color:hsl(161, 94%, 30%);
}
.emerald-700 {
    background-color:hsl(163, 94%, 24%);
}
.emerald-800 {
    background-color:hsl(163, 88%, 20%);
}
.emerald-900 {
    background-color:hsl(164, 86%, 16%);
}

/* Teal */


.teal-50 {
    background-color:hsl(166, 76%, 97%);
}
.teal-100 {
    background-color:hsl(167, 85%, 89%);
}
.teal-200 {
    background-color:hsl(168, 84%, 78%);
}
.teal-300 {
    background-color:hsl(171, 77%, 64%);
}
.teal-400 {
    background-color:hsl(172, 66%, 50%);
}
.teal-500 {
    background-color:hsl(173, 80%, 40%);
}
.teal-600 {
    background-color:hsl(175, 84%, 32%);
}
.teal-700 {
    background-color:hsl(175, 77%, 26%);
}
.teal-800 {
    background-color:hsl(176, 69%, 22%);
}
.teal-900 {
    background-color:hsl(176, 63%, 19%);
}

/* Cyan */


.cyan-50 {
    background-color:hsl(183, 100%, 96%);
}
.cyan-100 {
    background-color:hsl(185, 96%, 90%);
}
.cyan-200 {
    background-color:hsl(186, 94%, 82%);
}
.cyan-300 {
    background-color:hsl(187, 92%, 69%);
}
.cyan-400 {
    background-color:hsl(188, 86%, 53%);
}
.cyan-500 {
    background-color:hsl(189, 94%, 43%);
}
.cyan-600 {
    background-color:hsl(192, 91%, 36%);
}
.cyan-700 {
    background-color:hsl(193, 82%, 31%);
}
.cyan-800 {
    background-color:hsl(194, 70%, 27%);
}
.cyan-900 {
    background-color:hsl(196, 64%, 24%);
}

/**Sky***/


.sky-50 {
    background-color:hsl(204, 100%, 97%);
}
.sky-100 {
    background-color:hsl(204, 94%, 94%);
}
.sky-200 {
    background-color:hsl(201, 94%, 86%);
}
.sky-300 {
    background-color:hsl(199, 95%, 74%);
}
.sky-400 {
    background-color:hsl(198, 93%, 60%);
}
.sky-500 {
    background-color:hsl(199, 89%, 48%);
}
.sky-600 {
    background-color:hsl(200, 98%, 39%);
}
.sky-700 {
    background-color:hsl(201, 96%, 32%);
}
.sky-800 {
    background-color:hsl(201, 90%, 27%);
}
.sky-900 {
    background-color:hsl(202, 80%, 24%);
}


/* Blue */


.blue-50 {
    background-color:hsl(214, 100%, 97%);
}
.blue-100 {
    background-color:hsl(214, 95%, 93%);
}
.blue-200 {
    background-color:hsl(213, 97%, 87%);
}
.blue-300 {
    background-color:hsl(212, 96%, 78%);
}
.blue-400 {
    background-color:hsl(213, 94%, 68%);
}
.blue-500 {
    background-color:hsl(217, 91%, 60%);
}
.blue-600 {
    background-color:hsl(221, 83%, 53%);
}
.blue-700 {
    background-color:hsl(224, 76%, 48%);
}
.blue-800 {
    background-color:hsl(226, 71%, 40%);
}
.blue-900 {
    background-color:hsl(224, 64%, 33%);
}


/* Indigo */


.indigo-50 {
    background-color:hsl(226, 100%, 97%);
}
.indigo-100 {
    background-color:hsl(226, 100%, 94%)
    ;
}
.indigo-200 {
    background-color:hsl(228, 96%, 89%);
}
.indigo-300 {
    background-color:hsl(230, 94%, 82%);
}
.indigo-400 {
    background-color:hsl(234, 89%, 74%);
}
.indigo-500 {
    background-color:hsl(239, 84%, 67%);
}
.indigo-600 {
    background-color:hsl(243, 75%, 59%);
}
.indigo-700 {
    background-color:hsl(245, 58%, 51%);
}
.indigo-800 {
    background-color:hsl(244, 55%, 41%);
}
.indigo-900 {
    background-color:hsl(242, 47%, 34%);
}


/* Violet */


.violet-50 {
    background-color:hsl(250, 100%, 98%);
}
.violet-100 {
    background-color:hsl(251, 91%, 95%);
}
.violet-200 {
     background-color:hsl(251, 95%, 92%);
}
.violet-300 {
    background-color:hsl(252, 95%, 85%);
}
.violet-400 {
    background-color:hsl(255, 92%, 76%);
}
.violet-500 {
    background-color:hsl(258, 90%, 66%);
}
.violet-600 {
    background-color:hsl(262, 83%, 58%);
}
.violet-700 {
    background-color:hsl(263, 70%, 50%);
}
.violet-800 {
    background-color:hsl(263, 69%, 42%);
}
.violet-900 {
    background-color:hsl(264, 67%, 35%);
}


/* Purple */


.purple-50 {
    background-color:hsl(270, 100%, 98%);
}
.purple-100 {
    background-color:hsl(269, 100%, 95%);
}
.purple-200 {
    background-color:hsl(269, 100%, 92%);
}
.purple-300 {
    background-color:hsl(269, 97%, 85%);
}
.purple-400 {
    background-color:hsl(270, 95%, 75%);
}
.purple-500 {
    background-color:hsl(271, 91%, 65%);
}
.purple-600 {
    background-color:hsl(271, 81%, 56%);
}
.purple-700 {
    background-color:hsl(272, 72%, 47%);
}
.purple-800 {
    background-color:hsl(273, 67%, 39%);
}
.purple-900 {
    background-color:hsl(274, 66%, 32%);
}

/* Fuchsia */

.fuchsia-50 {
    background-color:hsl(289, 100%, 98%);
}
.fuchsia-100 {
    background-color:hsl(287, 100%, 95%);
}
.fuchsia-200 {
    background-color:hsl(288, 96%, 91%);
}
.fuchsia-300 {
    background-color:hsl(291, 93%, 83%);
}
.fuchsia-400 {
    background-color:hsl(292, 91%, 73%);
}
.fuchsia-500 {
    background-color:hsl(292, 84%, 61%);
}
.fuchsia-600 {
    background-color:hsl(293, 69%, 49%);
}
.fuchsia-700 {
    background-color:hsl(295, 72%, 40%);
}
.fuchsia-800 {
    background-color:hsl(295, 70%, 33%);
}
.fuchsia-900 {
    background-color:hsl(297, 64%, 28%);
}


/* Pink */


.pink-50 {
    background-color:hsl(327, 73%, 97%);
}
.pink-100 {
    background-color:hsl(326, 78%, 95%)
    ;
}
.pink-200 {
    background-color:hsl(326, 85%, 90%);
}
.pink-300 {
    background-color:hsl(327, 87%, 82%);
}
.pink-400 {
    background-color:hsl(329, 86%, 70%);
}
.pink-500 {
    background-color:hsl(330, 81%, 60%);
}
.pink-600 {
    background-color:hsl(333, 71%, 51%);
}
.pink-700 {
    background-color:hsl(335, 78%, 42%);
}
.pink-800 {
    background-color:hsl(336, 74%, 35%);
}
.pink-900 {
    background-color:hsl(336, 69%, 30%);
}


/* Rose */


.rose-50 {
    background-color:hsl(356, 100%, 97%);
}
.rose-100 {
    background-color:hsl(356, 100%, 95%);
}
.rose-200 {
    background-color:hsl(353, 96%, 90%);
}
.rose-300 {
    background-color:hsl(353, 96%, 82%);
}
.rose-400 {
    background-color:hsl(351, 95%, 71%);
}
.rose-500 {
    background-color:hsl(350, 89%, 60%);
}
.rose-600 {
    background-color:hsl(347, 77%, 50%);
}
.rose-700 {
    background-color:hsl(345, 83%, 41%);
}
.rose-800 {
    background-color:hsl(343, 80%, 35%);
}
.rose-900 {
    background-color:hsl(342, 75%, 30%);
}